@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


li, a, button {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: gray;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.navbar_items li {
    display: inline;
}